<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Deployment Tutorial 1</title>
    {{ dropzone.load_css() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
  </head>
<body>
  <h1>Character image search</h1>
  {{ dropzone.create(action='predict') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}
  {# You can get the success response from server like this: #}
  {#{ dropzone.config(custom_options="success: function(file, response){console.log(response);}") }#}
  <hr>

  {% for message in messages %}
    <div class="flash">{{ message }}</div>
    <h2>Possibility {{ message }}</h2>
  {% endfor %}
</body>
</html>
